<a href="{{altLangPrefix}}-{{language}}.html">
	<img role="presentation" alt="" src="{{rampAssets}}/images/bobcat_logo_sharp_smaller_s_white.png"/>
	<span>{{t "page.siteTitle"}}<span class="wb-inv">{{{i18n "comma-space"}}}</span><small>{{{i18n "site-tagline"}}}</small></span>
</a>
