<a href="{{altLangPrefix}}-{{language}}.html" class="ramp-brand">	
    <span><blink>{{t "page.siteTitle"}}</blink><span class="wb-inv">{{{i18n "comma-space"}}}</span><small><marquee>{{{i18n "site-tagline"}}}</marquee></small></span>
    <img role="presentation" alt="" src="{{rampAssets}}/images/bobcat_logo_sharp_smaller_s_white.png" />
</a>
