<div class="pnl-strt container visible-md visible-lg nvbar">
    <h2>{{{i18n "tmpl-topics-menu"}}}</h2>
    <div class="row">
        <ul class="list-inline menu" role="menubar">
            
            <li><a href="#part1" class="item">{{t "page.menu.link1Title"}}</a>
                <ul class="sm list-unstyled" id="part1" role="menu">
                    <li><a href="http://ramp-pcar.github.io/index-{{language}}.html">{{t "page.menu.link1sub1Title"}}</a></li>
                    <li><a href="http://ramp-pcar.github.io/benefits-{{language}}.html">{{t "page.menu.link1sub2Title"}}</a></li>
                    <li><a href="https://github.com/RAMP-PCAR/RAMP-PCAR.github.io">{{t "page.menu.link1sub3Title"}}</a></li>
                    <li><a href="http://ramp-pcar.github.io/license-{{language}}.html">{{t "page.menu.link1sub4Title"}}</a></li>
                </ul>
            </li>
            
            <li><a href="#part2" class="item">{{t "page.menu.link2Title"}}</a>
                <ul class="sm list-unstyled" id="part2" role="menu">
                    <li><a href="http://ramp-pcar.github.io/docs/started-{{language}}.html">{{t "page.menu.link2sub1Title"}}</a></li>
                    <li><a href="http://ramp-pcar.github.io/versions/download-{{language}}.html">{{t "page.menu.link2sub2Title"}}</a></li>
                    <li><a href="http://ramp-pcar.github.io/demos/index-{{language}}.html">{{t "page.menu.link2sub3Title"}}</a></li>
                </ul>
            </li>
            
            <li><a href="#part3" class="item">{{t "page.menu.link3Title"}}</a>
                <ul class="sm list-unstyled" id="part3" role="menu">
                    <li><a href="http://ramp-pcar.github.io/docs/index-{{language}}.html">{{t "page.menu.link3sub1Title"}}</a></li>
                    <li><a href="http://ramp-pcar.github.io/api/index-{{language}}.html">{{t "page.menu.link3sub2Title"}}</a></li>
                    <li><a href="http://ramp-pcar.github.io/versions/roadmap-{{language}}.html">{{t "page.menu.link3sub3Title"}}</a></li>
                    <li><a href="http://www.tbs-sct.gc.ca/ws-nw/index-{{#isnt language "fr"}}eng{{else}}fra{{/isnt}}.asp">{{t "page.menu.link3sub4Title"}}</a></li>
                </ul>
            </li>			
        </ul>
    </div>
</div>
