<!-- navControls BEGINS -->
<!--<p>{{t "help.intro"}}</p>-->
<details class="mrgn-tp-md">
<summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s1.header"}}</summary>
<div>
    <div class="helpSectionBody">
        <p>{{t "help.s1.p1"}}</p>
        <h3 class="h5">{{t "help.s1.h1"}}</h3>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/help_navigation_toolbar.png" title="{{t "help.s1.img1"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/help_navigation_toolbar.png" alt="{{t "help.s1.img1"}}" class="image-actual" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s1.img1"}}</p>
            </figcaption>
        </figure>
        
        <p>
        {{t "help.s1.p2"}}<br>
        {{t "help.s1.p3"}}<br>
        {{t "help.s1.p4"}}<br>
        {{t "help.s1.p5"}}<br>
        </p>
    </div>
</div>
</details>
<div class="clearfix"></div>
<!-- navControls ENDS -->
<!-- basemaps BEGINS -->
<details class="mrgn-tp-0">
<summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s2.header"}}</summary>
<div>
    <div class="helpSectionBody">
        <p>{{t "help.s2.p1"}}</p>
        <h3 class="h5">{{t "help.s2.h1"}}</h3>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/help_basemaps.png" title="{{t "help.s2.img1"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/help_basemaps.png" alt="{{t "help.s2.img1"}}" class="image-actual" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s2.img1"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s2.p2"}}</p>
    </div>
</div>
</details>
<div class="clearfix"></div>
<!-- basemaps ENDS -->
<!-- getLink BEGINS -->
<details class="mrgn-tp-0">
<summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s4.header"}}</summary>
<div>
    <div class="helpSectionBody">
        <p>{{t "help.s4.p1"}}</p>
        <h3 class="h5">{{t "help.s4.h1"}}</h3>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/help_getlink.png" title="{{t "help.s4.img1"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/help_getlink.png" alt="{{t "help.s4.img1"}}" class="image-actual" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s4.img1"}}</p>
            </figcaption>
        </figure>
        <h4>{{t "help.s4.h2"}}</h4>
        <p>{{t "help.s4.p2"}}</p>
        <h4>{{t "help.s4.h3"}}</h4>
        <p>{{t "help.s4.p3"}}</p>
    </div>
</div>
</details>
<div class="clearfix">
</div>
<!-- getLink ENDS -->
<!-- fullScreen BEGINS -->
<details class="mrgn-tp-0">
<summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s5.header"}}</summary>
<div>
    <div class="helpSectionBody">
        <p>
        {{t "help.s5.p1"}}
        </p>
        <h3 class="h5">{{t "help.s5.h1"}}</h3>
        <p>{{t "help.s5.p2"}}</p>
    </div>
</div>
</details>
<div class="clearfix">
</div>
<!-- fullScreen ENDS -->
<!-- datasets BEGINS -->
<details class="mrgn-tp-0">
    <summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s6.header"}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s6.p1"}}</p>

            <!-- Usage -->
            <h3 class="h5">{{t "help.s6.h1"}}</h3>

            <!-- Layer Types -->
            <h4>{{t "help.s6.h2"}}</h4>

            <figure class="thumbnail col-md-4 pull-right">
                <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/help_datasets.png" title="{{t "help.s6.img2"}}">
                    <img src="./assets/images/help/{{t "page.lang.main"}}/help_datasets.png" alt="{{t "help.s6.img2"}}" class="" />
                </a>
                <figcaption class="caption text-right">
                    <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s6.img2"}}</p>
                </figcaption>
            </figure>
            <p>
                {{t "help.s6.p2"}}
            </p>
            <ul>
                <li>{{t "help.s6.ul2.li1"}}</li>
                <li>{{t "help.s6.ul2.li2"}}</li>
                <li>{{t "help.s6.ul2.li3"}}</li>
            </ul>

            <!-- Layer Visibility -->
            <h4>{{t "help.s6.h3"}}</h4>
            <p>{{t "help.s6.p3"}}</p>

            <!-- WMS Query Toggle -->
            <h4>{{t "help.s6.h4"}}</h4>
            <figure class="thumbnail col-md-4 pull-right">
                <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/layer_wms_query.png" title="{{t "help.s6.img4"}}">
                    <img src="./assets/images/help/{{t "page.lang.main"}}/layer_wms_query.png" alt="{{t "help.s6.img4"}}" class="" />
                </a>
                <figcaption class="caption text-right">
                    <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s6.img4"}}</p>
                </figcaption>
            </figure>
            <p>{{t "help.s6.p4"}}</p>
            <div class="clearfix"></div>

            <!-- Layer Legends -->            
            <h4>{{t "help.s6.h5"}}</h4>
            <figure class="thumbnail col-md-4 pull-right">
                <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/layer_legends.png" title="{{t "help.s6.img5"}}">
                    <img src="./assets/images/help/{{t "page.lang.main"}}/layer_legends.png" alt="{{t "help.s6.img5"}}" class="" />
                </a>
                <figcaption class="caption text-right">
                    <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s6.img5"}}</p>
                </figcaption>
            </figure>
            <p>{{t "help.s6.p5"}}</p>
            <div class="clearfix"></div>

            <!-- Handling Layer Errors -->
            <h4>{{t "help.s6.h6"}}</h4>
            <figure class="thumbnail col-md-4 pull-right">
                <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/layer_errors.png" title="{{t "help.s6.img6"}}">
                    <img src="./assets/images/help/{{t "page.lang.main"}}/layer_errors.png" alt="{{t "help.s6.img6"}}" class="" />
                </a>
                <figcaption class="caption text-right">
                    <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s6.img6"}}</p>
                </figcaption>
            </figure>
            <p>{{t "help.s6.p6"}}</p>

            <div class="clearfix"></div>

            <!-- Layer Reordering -->
            <h4>{{t "help.s6.h7"}}</h4>

            <figure class="thumbnail col-md-4 pull-right">
                <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/help_datasets_reordering.png" title="{{t "help.s6.img7"}}">
                    <img src="./assets/images/help/{{t "page.lang.main"}}/help_datasets_reordering.png" alt="{{t "help.s6.img7"}}" class="" />
                </a>
                <figcaption class="caption text-right">
                    <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s6.img7"}}</p>
                </figcaption>
            </figure>
            <p>{{t "help.s6.p7"}}</p>
            <div class="clearfix"></div>
            <figure class="thumbnail col-md-4 pull-right">
                <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/layer_grouping.png" title="{{t "help.s6.img7a"}}">
                    <img src="./assets/images/help/{{t "page.lang.main"}}/layer_grouping.png" alt="{{t "help.s6.img7a"}}" class="" />
                </a>
                <figcaption class="caption text-right">
                    <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s6.img7a"}}</p>
                </figcaption>
            </figure>
            <p>{{t "help.s6.p7a"}}</p>
            <div class="clearfix"></div>

            <!-- Layer Metadata -->
            <h4>{{t "help.s6.h8"}}</h4>
            <p>{{t "help.s6.p8"}}</p>

            <!-- Layer Settings -->
            <h4>{{t "help.s6.h9"}}</h4>
            <figure class="thumbnail col-md-4 pull-right">
                <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/layer_settings.png" title="{{t "help.s6.img9"}}">
                    <img src="./assets/images/help/{{t "page.lang.main"}}/layer_settings.png" alt="{{t "help.s6.img9"}}" class="" />
                </a>
                <figcaption class="caption text-right">
                    <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s6.img9"}}</p>
                </figcaption>
            </figure>
            <p>{{t "help.s6.p9"}}</p>
            <ul>
                <li>{{t "help.s6.ul9.li1"}}</li>
                <li>{{t "help.s6.ul9.li2"}}</li>
                <li>{{t "help.s6.ul9.li3"}}</li>
            </ul>

            <!-- Zoom Scale Dependent Layers -->
            <h4>{{t "help.s6.h10"}}</h4>
            <figure class="thumbnail col-md-4 pull-right">
                <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/layer_zoom_scale.png" title="{{t "help.s6.img10"}}">
                    <img src="./assets/images/help/{{t "page.lang.main"}}/layer_zoom_scale.png" alt="{{t "help.s6.img10"}}" class="" />
                </a>
                <figcaption class="caption text-right">
                    <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s6.img10"}}</p>
                </figcaption>
            </figure>
            <p>{{t "help.s6.p10"}}</p>
        </div>
    </div>
</details>
<div class="clearfix">
</div>
<!-- datasets ENDS -->
<!-- user added datasets BEGINS -->
<details class="mrgn-tp-0">
    <summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s3.header"}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s3.p1"}}</p>
            <h3 class="h5">{{t "help.s3.h1"}}</h3>
            <h4>{{t "help.s6.h2"}}</h4>            
            <p>{{t "help.s3.p2"}}</p>
            <h4>{{t "help.s3.h3"}}</h4>
            <p>{{t "help.s3.p3"}}</p>
            <p>{{t "help.s3.p4"}}</p>
            <p>{{t "help.s3.p5"}}</p>
            <p>{{t "help.s3.p6"}}</p>
            <h4>{{t "help.s3.h4"}}</h4>
            <p>{{t "help.s3.p7"}}</p>
            <p>{{t "help.s3.p8"}}</p>
            <p>{{t "help.s3.p9"}}</p>
            <p>{{t "help.s3.p10"}}</p>
            <p>{{t "help.s3.p11"}}</p>

            <div class="clearfix"></div>           
        </div>
    </div>
</details>
<div class="clearfix">
</div>
<!-- user added datasets ENDS -->
<!-- summary grid BEGINS -->
<details class="mrgn-tp-0">
<summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s7.header"}}</summary>
<div>
    <div class="helpSectionBody">
        <p>{{t "help.s7.p1"}}</p>
        <h3 class="h5">{{t "help.s7.h1"}}</h3>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/summary_grid/screenshot.jpg" title="{{t "help.s7.img1"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/summary_grid/screenshot.jpg" alt="{{t "help.s7.img1"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s7.img1"}}</p>
            </figcaption>
        </figure>
        <div class="clearfix"></div>
        <h4>{{t "help.s7.h2"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/summary_grid/sort_button.jpg" title="{{t "help.s7.img2"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/summary_grid/sort_button.jpg" alt="{{t "help.s7.img2"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s7.img2"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s7.p2"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s7.h3"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/summary_grid/details_button.jpg" title="{{t "help.s7.img3"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/summary_grid/details_button.jpg" alt="{{t "help.s7.img3"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s7.img3"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s7.p3"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s7.h4"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/summary_grid/zoomto_button.jpg" title="{{t "help.s7.img4"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/summary_grid/zoomto_button.jpg" alt="{{t "help.s7.img4"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s7.img4"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s7.p4"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s7.h5"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/summary_grid/zoomback_button.jpg" title="{{t "help.s7.img5"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/summary_grid/zoomback_button.jpg" alt="{{t "help.s7.img5"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s7.img5"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s7.p5"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s7.h6"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/summary_grid/pagination.jpg" title="{{t "help.s7.img6"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/summary_grid/pagination.jpg" alt="{{t "help.s7.img6"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s7.img6"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s7.p6"}}</p>
        <p>{{t "help.s7.p61"}}</p>
        <div class="clearfix"></div>
    </div>
</div>
</details>
<div class="clearfix">
</div>
<!-- summary grid ENDS -->
<!-- extendedGrid BEGINS -->
<details class="mrgn-tp-0">
<summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s8.header"}}</summary>
<div>
    <div class="helpSectionBody">
        <p>{{t "help.s8.p1"}}</p>
        <h3 class="h5">{{t "help.s8.h1"}}</h3>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/extended_grid/screenshot_1.jpg" title="{{t "help.s8.img1"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/extended_grid/screenshot_1.jpg" alt="{{t "help.s8.img1"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s8.img1"}}</p>
            </figcaption>
        </figure>
        <div class="clearfix"></div>
        
        <h4>{{t "help.s8.h2"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/extended_grid_button.jpg" title="{{t "help.s8.img2"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/extended_grid_button.jpg" alt="{{t "help.s8.img2"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s8.img2"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s8.p2"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s8.h3"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/data_summary_button.jpg" title="{{t "help.s8.img3"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/data_summary_button.jpg" alt="{{t "help.s8.img3"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s8.img3"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s8.p3"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s8.h4"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/extended_grid/sorting.jpg" title="{{t "help.s8.img4"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/extended_grid/sorting.jpg" alt="{{t "help.s8.img4"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s8.img4"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s8.p4"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s8.h5"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/extended_grid/details_button.jpg" title="{{t "help.s8.img5"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/extended_grid/details_button.jpg" alt="{{t "help.s8.img5"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s8.img5"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s8.p5"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s8.h6"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/extended_grid/pagination.jpg" title="{{t "help.s8.img6"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/extended_grid/pagination.jpg" alt="{{t "help.s8.img6"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s8.img6"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s8.p6"}}</p>
        <p>{{t "help.s8.p61"}}</p>
        <div class="clearfix"></div>
    </div>
</div>
</details>
<div class="clearfix">
</div>
<!-- extended grid ENDS -->
<!-- infoPanel BEGINS -->
<details class="mrgn-tp-0">
<summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s9.header"}}</summary>
<div>
    <div class="helpSectionBody">
        <p>{{t "help.s9.p1"}}</p>
        <h3 class="h5">{{t "help.s9.h1"}}</h3>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/help_infopanel.png" title="{{t "help.s9.img1"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/help_infopanel.png" alt="{{t "help.s9.img1"}}" class="image-actual" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s9.img1"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s9.p2"}}</p>
    </div>
</div>
</details>
<div class="clearfix">
</div>
<!-- infoPanel ENDS -->
<!-- map export BEGINS -->
<details class="mrgn-tp-0">
    <summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s13.header"}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s13.p1"}}</p>
            <h3 class="h5">{{t "help.s13.h1"}}</h3>

            <figure class="thumbnail col-md-4 pull-right">
                <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/help_map_export.png" title="{{t "help.s13.img1"}}">
                    <img src="./assets/images/help/{{t "page.lang.main"}}/help_map_export.png" alt="{{t "help.s13.img1"}}" class="image-actual" />
                </a>
                <figcaption class="caption text-right">
                    <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s13.img1"}}</p>
                </figcaption>
            </figure>
            <p>{{t "help.s13.p2"}}</p>

            <div class="clearfix"></div>
            <h3 class="h5">{{t "help.s13.h2"}}</h3>
            <figure class="thumbnail col-md-4 pull-right">
                <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/help_map_export_download.png" title="{{t "help.s13.img2"}}">
                    <img src="./assets/images/help/{{t "page.lang.main"}}/help_map_export_download.png" alt="{{t "help.s13.img2"}}" class="image-actual" />
                </a>
                <figcaption class="caption text-right">
                    <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s13.img2"}}</p>
                </figcaption>
            </figure>
            <p>{{t "help.s13.p3"}}</p>
        </div>
    </div>
</details>
<div class="clearfix">
</div>
<!-- map export ENDS -->
<!-- geo search BEGINS -->
<details class="mrgn-tp-0">
    <summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s14.header"}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s14.p1"}}</p>

            <!-- Usage -->
            <h3 class="h5">{{t "help.s14.h1"}}</h3>    
            
            <!-- Basic Search -->
            <h4>{{t "help.s14.h2"}}</h4>    
            <p>{{t "help.s14.p2"}}</p>

            <div class="clearfix"></div>

            <!-- Filters -->
            <h4>{{t "help.s14.h3"}}</h4>
            <p>{{t "help.s14.p3"}}</p>
            <ul>
                <li>{{t "help.s14.ul1.li1"}}</li>
                <li>{{t "help.s14.ul1.li2"}}</li>
                <li>{{t "help.s14.ul1.li3"}}</li>
                <li>{{t "help.s14.ul1.li4"}}</li>
            </ul>
        </div>
    </div>
</details>
<div class="clearfix">
</div>
<!-- geo search ENDS -->
<!-- accessibility BEGINS -->
<details class="mrgn-tp-0">
<summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s10.header"}}</summary>
<div>
    <div class="helpSectionBody">
        <p>{{t "help.s10.p1"}}</p>
        <h4>{{t "help.s10.h2"}}</h4>
        <p>{{t "help.s10.p2"}}</p>
        <h4>{{t "help.s10.h3"}}</h4>
        <p>{{t "help.s10.p3"}}</p>
        <h4>{{t "help.s10.h4"}}</h4>
        <p>{{t "help.s10.p4"}}</p>
        <h4>{{t "help.s10.h5"}}</h4>
        <p>{{t "help.s10.p5"}}</p>
    </div>
</div>
</details>
<div class="clearfix">
</div>
<!-- accessibility ENDS -->
<!-- advanced toolbar BEGINS -->
<details class="mrgn-tp-0">
<summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s11.header"}}</summary>
<div>
    <div class="helpSectionBody">
        <p>{{t "help.s11.p1"}}</p>
        <h3 class="h5">{{t "help.s11.h1"}}</h3>
        <h4>{{t "help.s11.h2"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/advanced_toolbar/advanced_toolbar_button.jpg" title="{{t "help.s11.img2"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/advanced_toolbar/advanced_toolbar_button.jpg" alt="{{t "help.s11.img2"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s11.img2"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s11.p2"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s11.h3"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/advanced_toolbar/advanced_toolbar.jpg" title="{{t "help.s11.img3"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/advanced_toolbar/advanced_toolbar.jpg" alt="{{t "help.s11.img3"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s11.img3"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s11.p3"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s11.h4"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/advanced_toolbar/population_tool.jpg" title="{{t "help.s11.img4"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/advanced_toolbar/population_tool.jpg" alt="{{t "help.s11.img4"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s11.img4"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s11.p4"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s11.h5"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/advanced_toolbar/buffer_tool.jpg" title="{{t "help.s11.img5"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/advanced_toolbar/buffer_tool.jpg" alt="{{t "help.s11.img5"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s11.img5"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s11.p5"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s11.h6"}}</h4>
        
        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/advanced_toolbar/measure_tool.jpg" title="{{t "help.s11.img6"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/advanced_toolbar/measure_tool.jpg" alt="{{t "help.s11.img6"}}" class="" />
            </a>
            <figcaption class="caption text-right">
            <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s11.img6"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s11.p6"}}</p>
        <div class="clearfix"></div>
        <h4>{{t "help.s11.h7"}}</h4>

        <figure class="thumbnail col-md-4 pull-right">
            <a class="wb-lbx" href="./assets/images/help/{{t "page.lang.main"}}/advanced_toolbar/distance_tool.jpg" title="{{t "help.s11.img7"}}">
                <img src="./assets/images/help/{{t "page.lang.main"}}/advanced_toolbar/distance_tool.jpg" alt="{{t "help.s11.img7"}}" class="" />
            </a>
            <figcaption class="caption text-right">
                <p class="mrgn-tp-sm mrgn-bttm-sm pstn-bttm-md pstn-rght-md caption-header small">{{t "help.s11.img7"}}</p>
            </figcaption>
        </figure>
        <p>{{t "help.s11.p7"}}</p>
        <div class="clearfix"></div>
    </div>
</div>
</details>
<div class="clearfix">
</div>
<!-- advanced toolbar ENDS -->
<!-- misc BEGINS -->
<details class="mrgn-tp-0">
<summary class="h5 mrgn-tp-0 mrgn-bttm-md">{{t "help.s12.header"}}</summary>
<div>
    <div class="helpSectionBody">
        <p>{{t "help.s12.p1"}}</p>
        <div class="module-note module-simplify span-">
            <h3><span class="color-dark">{{t "help.s12.h2"}}</span></h3>
            <p>{{t "help.s12.p2"}}</p>
        </div>
    </div>
</div>
</details>
<div class="clearfix">
</div>
<!-- misc ENDS -->