<!-- navControls BEGINS -->
<details class="margin-bottom-medium">
    <summary class="">{{t "help.s1.header" language}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s1.p1" language}}</p>
            <h3>{{t "help.s1.h1" language}}</h3>
            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/help_navigation_toolbar.png" alt="{{t "help.s1.img1" language}}" class="image-actual" />
                    <p class="position-top- position-right background-dark">{{t "help.s1.img1" language}}</p>
                </div>
            </div>
            <p>
                {{t "help.s1.p2" language}}<br>
                {{t "help.s1.p3" language}}<br>
                {{t "help.s1.p4" language}}<br>
                {{t "help.s1.p5" language}}<br>
            </p>
        </div>
    </div>
</details>
<div class="clear"></div>
<!-- navControls ENDS -->
<!-- basemaps BEGINS -->
<details class="margin-bottom-medium">
    <summary class="">{{t "help.s2.header" language}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s2.p1" language}}</p>
            <h3>{{t "help.s2.h1" language}}</h3>
            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/help_basemaps.png" alt="{{t "help.s2.img1" language}}" class="image-actual" />
                    <p class="position-top- position-right background-dark">{{t "help.s2.img1" language}}</p>
                </div>
            </div>
            <p>{{t "help.s2.p2" language}}</p>
        </div>
    </div>
</details>
<div class="clear"></div>
<!-- basemaps ENDS -->
<!-- Add Layer BEGINS -->
<details class="margin-bottom-medium">
    <summary class="">{{t "help.s3.header" language}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s3.p1" language}}</p>
            <h3>{{t "help.s3.h1" language}}</h3>

            <div class="span-3 float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/help_addlayer.png" alt="{{t "help.s3.img1" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s3.img1" language}}</p>
                </div>
            </div>
            <p>{{t "help.s3.p2" language}}</p>
        </div>
    </div>
</details>
<div class="clear">
</div>
<!-- Add Layer ENDS -->
<!-- getLink BEGINS -->
<details class="margin-bottom-medium">
    <summary class="">{{t "help.s4.header" language}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s4.p1" language}}</p>
            <h3>{{t "help.s4.h1" language}}</h3>

            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/help_getlink.png" alt="{{t "help.s4.img1" language}}" class="image-actual" />
                    <p class="position-top- position-right background-dark">{{t "help.s4.img1" language}}</p>
                </div>
            </div>

            <h4>{{t "help.s4.h2" language}}</h4>
            <p>{{t "help.s4.p2" language}}</p>

            <h4>{{t "help.s4.h3" language}}</h4>
            <p>{{t "help.s4.p3" language}}</p>

        </div>
    </div>
</details>
<div class="clear">
</div>
<!-- getLink ENDS -->

<!-- fullScreen BEGINS -->
<details class="margin-bottom-medium">
    <summary class="">{{t "help.s5.header" language}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>
                {{t "help.s5.p1" language}}
            </p>
            <h3>{{t "help.s5.h1" language}}</h3>
            <p>{{t "help.s5.p2" language}}</p>
        </div>
    </div>
</details>
<div class="clear">
</div>
<!-- fullScreen ENDS -->

<!-- datasets BEGINS -->
<details class="margin-bottom-medium">
    <summary class="">{{t "help.s6.header" language}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s6.p1" language}}</p>

            <h3>{{t "help.s6.h1" language}}</h3>

            <h4>{{t "help.s6.h2" language}}</h4>

            <div class="span-3 float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/help_datasets.png" alt="{{t "help.s6.img2" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s6.img2" language}}</p>
                </div>
            </div>

            <p>
                {{t "help.s6.p2" language}}
                <ul>
                    <li>{{t "help.s6.ul2.li1" language}}</li>
                    <li>{{t "help.s6.ul2.li2" language}}</li>
                    <li>{{t "help.s6.ul2.li2" language}}</li>
                </ul>
            </p>

            <h4>{{t "help.s6.h3" language}}</h4>
            <p>{{t "help.s6.p3" language}}</p>

            <h4>{{t "help.s6.h4" language}}</h4>
            <p>{{t "help.s6.p4" language}}</p>

            <div class="clear"></div>

            <h4>{{t "help.s6.h5" language}}</h4>
            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/help_datasets_reordering.png" alt="{{t "help.s6.img5" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s6.img5" language}}</p>
                </div>
            </div>
            <p>{{t "help.s6.p5" language}}</p>
            <p>{{t "help.s6.p51" language}}</p>
            <div class="clear"></div>
            
            <h4>{{t "help.s6.h6" language}}</h4>
            <p>{{t "help.s6.p6" language}}</p>

            <h4>{{t "help.s6.h7" language}}</h4>
            <p>{{t "help.s6.p7" language}}</p>
        </div>
    </div>
</details>
<div class="clear">
</div>
<!-- datasets ENDS -->

<!-- summary grid BEGINS -->
<details class="margin-bottom-medium">
    <summary class="">{{t "help.s7.header" language}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s7.p1" language}}</p>
            <h3>{{t "help.s7.h1" language}}</h3>

            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/summary_grid/screenshot.jpg" alt="{{t "help.s7.img1" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s7.img1" language}}</p>
                </div>
            </div>
            <div class="clear"></div>

            <h4>{{t "help.s7.h2" language}}</h4>
            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/summary_grid/sort_button.jpg" alt="{{t "help.s7.img2" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s7.img2" language}}</p>
                </div>
            </div>
            <p>{{t "help.s7.p2" language}}</p>
            <div class="clear"></div>

            <h4>{{t "help.s7.h3" language}}</h4>
            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/summary_grid/details_button.jpg" alt="{{t "help.s7.img3" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s7.img3" language}}</p>
                </div>
            </div>

            <p>{{t "help.s7.p3" language}}</p>
            <div class="clear"></div>

            <h4>{{t "help.s7.h4" language}}</h4>

            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/summary_grid/zoomto_button.jpg" alt="{{t "help.s7.img4" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s7.img4" language}}</p>
                </div>
            </div>

            <p>{{t "help.s7.p4" language}}</p>
            <div class="clear"></div>

            <h4>{{t "help.s7.h5" language}}</h4>

            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/summary_grid/zoomback_button.jpg" alt="{{t "help.s7.img5" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s7.img5" language}}</p>
                </div>
            </div>

            <p>{{t "help.s7.p5" language}}</p>
            <div class="clear"></div>

            <h4>{{t "help.s7.h6" language}}</h4>

            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/summary_grid/pagination.jpg" alt="{{t "help.s7.img6" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s7.img6" language}}</p>
                </div>
            </div>

            <p>{{t "help.s7.p6" language}}</p>
            <p>{{t "help.s7.p61" language}}</p>
            <div class="clear"></div>
        </div>
    </div>
</details>
<div class="clear">
</div>
<!-- summary grid ENDS -->

<!-- extendedGrid BEGINS -->
<details class="margin-bottom-medium">
    <summary class="">{{t "help.s8.header" language}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s8.p1" language}}</p>
            <h3>{{t "help.s8.h1" language}}</h3>

            <div class="span-3 float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/extended_grid/screenshot_1.jpg" alt="{{t "help.s8.img1" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s8.img1" language}}</p>
                </div>
            </div>
            <div class="clear"></div>
            
            <h4>{{t "help.s8.h2" language}}</h4>
            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/extended_grid_button.jpg" alt="{{t "help.s8.img2" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s8.img2" language}}</p>
                </div>
            </div>
            <p>{{t "help.s8.p2" language}}</p>
            <div class="clear"></div>

            <h4>{{t "help.s8.h3" language}}</h4>

            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/data_summary_button.jpg" alt="{{t "help.s8.img3" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s8.img3" language}}</p>
                </div>
            </div>
            <p>{{t "help.s8.p3" language}}</p>
            <div class="clear"></div>

            <h4>{{t "help.s8.h4" language}}</h4>

            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/extended_grid/sorting.jpg" alt="{{t "help.s8.img4" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s8.img4" language}}</p>
                </div>
            </div>
            <p>{{t "help.s8.p4" language}}</p>
            <div class="clear"></div>

            <h4>{{t "help.s8.h5" language}}</h4>

            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/extended_grid/details_button.jpg" alt="{{t "help.s8.img5" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s8.img5" language}}</p>
                </div>
            </div>

            <p>{{t "help.s8.p5" language}}</p>
            <div class="clear"></div>

            <h4>{{t "help.s8.h6" language}}</h4>
            <div class="span-3 float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/extended_grid/pagination.jpg" alt="{{t "help.s8.img6" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s8.img6" language}}</p>
                </div>
            </div>
            <p>{{t "help.s8.p6" language}}</p>
            <p>{{t "help.s8.p61" language}}</p>
            <div class="clear"></div>
        </div>
    </div>
</details>
<div class="clear">
</div>
<!-- extended grid ENDS -->

<!-- infoPanel BEGINS -->
<details class="margin-bottom-medium">
    <summary class="">{{t "help.s9.header" language}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s9.p1" language}}</p>
            <h3>{{t "help.s9.h1" language}}</h3>

            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/help_infopanel.png" alt="{{t "help.s9.img1" language}}" class="image-actual" />
                    <p class="position-top- position-right background-dark">{{t "help.s9.img1" language}}</p>
                </div>
            </div>

            <p>{{t "help.s9.p2" language}}</p>
        </div>
    </div>
</details>
<div class="clear">
</div>
<!-- infoPanel ENDS -->

<!-- accessibility BEGINS -->
<details class="margin-bottom-medium">
    <summary class="">{{t "help.s10.header" language}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s10.p1" language}}</p>

            <h4>{{t "help.s10.h2" language}}</h4>
            <p>{{t "help.s10.p2" language}}</p>

            <h4>{{t "help.s10.h3" language}}</h4>
            <p>{{t "help.s10.p3" language}}</p>

            <h4>{{t "help.s10.h4" language}}</h4>
            <p>{{t "help.s10.p4" language}}</p>

            <h4>{{t "help.s10.h5" language}}</h4>
            <p>{{t "help.s10.p5" language}}</p>
        </div>
    </div>
</details>
<div class="clear">
</div>
<!-- accessibility ENDS -->

<!-- advanced toolbar BEGINS -->
<details class="margin-bottom-medium">
    <summary class="">{{t "help.s11.header" language}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s11.p1" language}}</p>
            <h3>{{t "help.s11.h1" language}}</h3>


            <h4>{{t "help.s11.h2" language}}</h4>
            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/advanced_toolbar/advanced_toolbar_button.jpg" alt="{{t "help.s11.img2" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s11.img2" language}}</p>
                </div>
            </div>
            <p>{{t "help.s11.p2" language}}</p>
            <div class="clear"></div>

            <h4>{{t "help.s11.h3" language}}</h4>

            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/advanced_toolbar/advanced_toolbar.jpg" alt="{{t "help.s11.img3" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s11.img3" language}}</p>
                </div>
            </div>
            <p>{{t "help.s11.p3" language}}</p>
            <div class="clear"></div>

            <h4>{{t "help.s11.h4" language}}</h4>
            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/advanced_toolbar/population_tool.jpg" alt="{{t "help.s11.img4" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s11.img4" language}}</p>
                </div>
            </div>
            <p>{{t "help.s11.p4" language}}</p>
            <div class="clear"></div>

            <h4>{{t "help.s11.h5" language}}</h4>
            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/advanced_toolbar/buffer_tool.jpg" alt="{{t "help.s11.img5" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s11.img5" language}}</p>
                </div>
            </div>
            <p>{{t "help.s11.p5" language}}</p>
            <div class="clear"></div>

            <h4>{{t "help.s11.h6" language}}</h4>
            <div class="span- float-right">
                <div class="module-poster">
                    <img src="./assets/images/help/{{t "page.lang.main" language}}/advanced_toolbar/measure_tool.jpg" alt="{{t "help.s11.img6" language}}" class="" />
                    <p class="position-top- position-right background-dark">{{t "help.s11.img6" language}}</p>
                </div>
            </div>
            <p>{{t "help.s11.p6" language}}</p>
            <div class="clear"></div>
        </div>
    </div>
</details>
<div class="clear">
</div>
<!-- advanced toolbar ENDS -->

<!-- misc BEGINS -->
<details class="margin-bottom-medium">
    <summary class="">{{t "help.s12.header" language}}</summary>
    <div>
        <div class="helpSectionBody">
            <p>{{t "help.s12.p1" language}}</p>

            <div class="module-note module-simplify span-">
                <h3><span class="color-dark">{{t "help.s12.h2" language}}</span></h3>
                <p>{{t "help.s12.p2" language}}</p>
            </div>

        </div>
    </div>
</details>
<div class="clear">
</div>
<!-- misc ENDS -->