<section id="map-export-modal" class="mfp-hide modal-dialog modal-content overlay-def">

    <div class="modal-body">
        <div class="row">
            <div class="map-export-preview">
                <div class="map-export-image">
                    <img class="remote blurred-5" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" crossorigin="anonymous" alt="">
                    <!--<img class="local blurred-5" src="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" alt="">-->
                    <canvas class="local blurred-5"></canvas>
                </div>
                <div class="map-export-stretcher" role="presentation">
                    <div class="map-export-notice-container">
                        <section class="map-export-notice notice-error alert alert-danger">
                            <h3>{{t "mapExport.error.generalTitle"}}</h3>
                            <p>{{t "mapExport.error.generalMessage"}}</p>
                        </section>
                        <section class="map-export-notice notice-timeout alert alert-danger">
                            <h3>{{t "mapExport.error.generalTitle"}}</h3>
                            <p>{{t "mapExport.error.timeoutMessage"}}</p>
                        </section>
                        <section class="map-export-notice notice-ie alert alert-warning">
                            <h3>{{t "mapExport.ie.generalTitle"}}</h3>
                            <p>{{t "mapExport.ie.generalMessage"}}</p>
                        </section>
                    </div>
                </div>
                {{>loadingsimple text="map.generatingTitle" }}
            </div>
            <div class="map-export-controls">
                <header>
                    <h2 class="mrgn-tp-sm mrgn-bttm-sm page-header h3">{{t "mapExport.title"}}</h2>
                </header>
                <button class="button-none button-close _tooltip popup-modal-dismiss" title="{{t "gui.actions.close"}}" data-tooltip-theme="tooltipster-above-export">
                    <span class="wb-invisible">{{t "gui.actions.close"}}</span>
                </button>
                <div class="">
                    <!--<div class="checkbox">
                        <label>{{t "mapExport.includeLegend"}}<input type="checkbox" value="" /></label>
                    </div>-->

                    <div class="download-buttons mrgn-tp-lg">

                        <div class="btn-group open download-dropdown">
                            <a class="btn btn-primary download-default" href="#" target="_blank" download=""><i class="fa fa-download fa-fw on-left"></i>{{t "mapExport.downloadImage"}}</a>
                            <button class="btn btn-primary toggle" data-toggle="dropdown">
                                <span class="fa fa-caret-down"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="btn btn-none btn-download download-png" target="_blank" href="#" download=""><span class="fa fa-file-image-o fa-fw on-left"></span>{{t "mapExport.downloadPNG"}}</a></li>
                                <li><a class="btn btn-none btn-download download-jpg" target="_blank" href="#" download=""><span class="fa fa-file-image-o fa-fw on-left"></span>{{t "mapExport.downloadJPG"}}</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
