<div class="container nvbar">
	<h2>{{{i18n "tmpl-topics-menu"}}}</h2>
    <div class="row">
        <ul class="list-inline menu">
{{#unless page.altMenu}}
			<li><a href="http://ramp-racp.github.io/index-{{language}}.html">{{t "page.menu.link1Title"}}</a></li>
			<li><a href="http://ramp-racp.github.io/docs/started-{{language}}.html">{{t "page.menu.link2Title"}}</a></li>
			<li><a href="http://ramp-racp.github.io/docs/index-{{language}}.html">{{t "page.menu.link3Title"}}</a></li>			
{{else}}
			<li><a href="#">{{{i18n "tmpl-section"}}}{{{i18n "space"}}}1</a></li>
			<li><a href="#">{{{i18n "tmpl-section"}}}{{{i18n "space"}}}2</a></li>
			<li><a href="#">{{{i18n "tmpl-section"}}}{{{i18n "space"}}}3</a></li>
{{/unless}}
        </ul>
    </div>
</div>
