<!DOCTYPE html>
<html class="no-js" lang="{{language}}" dir="{{{i18n "lang-dir"}}}">
	<head>
		<meta charset="utf-8" />
		<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
		<title>{{>pagetitle}}</title>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<!-- Meta data -->
		<meta name="description" content="{{#if page.description }}{{page.description}}{{else}}{{{i18n "site-description"}}}{{/if}}" />
		<!-- Meta data-->
		{{>headresources}}
	</head>
	<body vocab="http://schema.org/" typeof="WebPage">
        <table style="width: 95%; margin: 0 auto">
            <thead>
                <tr>
                    <td style="width: 200px"><img src="assets/images/uc.gif" /></td>
                    <td style="width: 5%"></td>
                    <td>
                <header role="banner" style="width: 100%">
                    <div id="wb-bnr" style="background: transparent !important">
                        <div id="wb-bar">
                            <div class="container">
                                <div class="row">
                                    <section id="wb-lng" class="visible-md visible-lg">
                                        <h2>{{{i18n "tmpl-lang-select"}}}</h2>
                                        {{>languagetoggle}}
                                    </section>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">

                                <div id="wb-sttl" class="col-md-12">
                                    {{>brand}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <span data-trgt="mb-pnl" class="wb-menu hide"></span>
                </header>
                        </td>
                    <td style="width: 5%"></td>
                    <td style="width: 200px"><img src="assets/images/uc.gif" /></td>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                            <main role="main" property="mainContentOfPage" class="{{#is secondarymenu "true"}}col-md-9 col-md-push-3{{else}}{{#isnt fullwidthmain "true"}}container{{/isnt}}{{/is}}">
                    {{#isnt fullwidthmain "true"}}
                                {{>contenttitle}}
                                {{>sitewidemessages}}
                                {{>contentbuttons}}
                    {{/isnt}}
                                {{>body}}
                    {{#if page.dateModified}}
                                {{>datemodified}}
                    {{/if}}
                            </main>
                        </td>
                    <td id="mb-pnl"></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td style="color:white"><a href="/assets/images/gb.jpg" target="_blank">SIGN THE GUEST BOOK</a><br/><a href="http://en.wikipedia.org/wiki/Guestbook" target="_blank">VIEW THE GUEST BOOK</a></td>
                    <td></td>
                    <td>
                    <footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
                        <div class="container">
                            <nav role="navigation" class="row">
                                <h2>{{{i18n "tmpl-about-site"}}}</h2>
                                {{>footer}}
                            </nav>
                        </div>
                    </footer>
                        </td>
                    <td></td>
                    <td><br /><img src="assets/images/bestie.jpg" /></td>
                </tr>
            </tfoot>
        </table>

		{{>footerresources}}
	</body>
</html>
